<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DISPLAY SONGS</title>
<link rel=stylesheet type=text/css th:href="@{/displaysongs.css}">
</head>
<body>
<div id="grid">
  <h2>Enjoy your favorite songs with our tunehub</h2>
  <div class="grid-container">
    
    <div class="grid-item" th:each="s:${songs}">
      <p><strong>Song Name:</strong> <span th:text="${s.name}"></span></p>
      <p><strong>Song Artist:</strong> <span th:text="${s.artist}"></span></p>
      <p><strong>Song Genre:</strong> <span th:text="${s.genre}"></span></p>
      
					<audio controls>
						<source th:src="${s.link}" />
					</audio>
				 
    </div>
  </div>
</div>

</body>
</html>

