<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DISPLAY SONGS</title>
<link rel=stylesheet type=text/css th:href="@{/displaysongs.css}">
</head>
<body>
<div id=table>
<table border="1" >
<h2>Enjoy your favorite songs with our tunehub</h2>
 <thead>
 
   <tr>
     <th>Song Name</th>
     <th>Song Artist</th>
     <th>Song Generic</th>
     <th>Play</th>
   </tr>
  </thead>

<tbody>
				<tr th:each="s:${songs}">
				
				<td th:text="${s.name}"></td>
				<td th:text="${s.artist}"></td>
				<td th:text="${s.genre}"></td>
				
				<td>
					<audio controls>
						<source th:src="${s.link}">
					</audio>
				 </td>
				 
				</tr>
			</tbody>

</table>
</div>
</body>
</html>

