<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PLAYLIST LIST</title>
<link rel=stylesheet type=text/css th:href="@{/displayplaylist.css}">
</head>

<body>
<div class="grid-container">
    <div th:each="s : ${playlistsong}" class="playlist-item">
        <h3 th:text="${s.name}"></h3>
        <ul>
            <li th:each="song:${s.songs}">
                <span th:text="${song.name}"></span>
                <audio controls>
                    <source th:src="${song.link}">
                </audio>
            </li>
        </ul>
    </div>
</div>
</body>
</html>